@import '~antd/dist/antd.css';

.main_page{
    background: rgb(30,60,114);
    background: linear-gradient(0deg, rgba(30,60,114,1) 0%, rgba(51,96,87,1) 59%, rgba(56,123,110,1) 100%);
    height: 100vh;
}
.form_wrapper{
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    min-width: 400px;
    padding: 2%;
    background-color: white;
}

.form .form_item{

    display: flex;
    justify-content: space-between;
   
}

.form .input_item{
     min-width: 250px;
}

.form  .button_item{
    width: 100%;
    background-color: #3971c6;
 border-color: #3971c6 ;

}



           
.generate{
    width: 100%;
    background-color: #1b9791;
 border-color: #1b9791 ;
 margin-bottom: 10px;
}

.send{
    width: 100%;
    background-color: #3971c6;
 border-color: #3971c6 ;
}